/*backgorund photo =>  Photo by Shane Rounce on Unsplash*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/indexBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}


#pp {
    width: 200px;
    height: auto;
}